.accordion {
	width: 278px;
	border-bottom: solid 1px #c4c4c4;
}
.accordion h3 {
	background: #e9e7e7 url(../img/arrow-square.gif) no-repeat right -51px;
	padding: 7px 15px;
	margin: 0;
	font: bold 120%/100% Arial, Helvetica, sans-serif;
	border: solid 1px #c4c4c4;
	border-bottom: none;
	cursor: pointer;
}
.accordion h3:hover {
	background-color: #e3e2e2;
}
.accordion h3.active {
	background-position: right 5px;
}
.accordion p {
	background: #f7f7f7;
	margin: 0;
	padding: 10px 15px 20px;
	border-left: solid 1px #c4c4c4;
	border-right: solid 1px #c4c4c4;
	overflow: hidden;
}
.accordion span {
	display: block;
	overflow: hidden;
	width:100%;
	margin:5px;
}
.accordion span a {
	float: right;
	color: #143C46;
	margin:5px 10px;
	min-width:44px;
}
.accordion .organization{
	width:46%;
	text-align:left;
	float: left;
}
.accordion span.organization a{
	float: none;
}
.widget h2{
	text-align:center;
	font-size:20px;
	color:#40adcd;
	background-color:#eee;
}
.text-description p{
	line-height:25px;
	font-size:15px;
	padding:5px;
	min-height:500px;
}
.widget .texts {
	width:75%;
	line-height:25px;
	float: right;
}
.people-list {
	height:400px;
}
.people-list img{
	width:20%;
	height:150px;
}
.people-list .name {
	color:#143C46;
	font-weight:bold;
	height:25px;
	font-size:17px;
}