.lastnews {
	float:left;
}
.lastnews,.lastslides,.lastnews img{
	width:320px;
	height:200px;
}
.lastnews .flex-control-nav {
	bottom:-34px;
}
.lastnews .flex-direction-nav li a {
	background:none;
}
.haizhi-news{
	width:255px;
	height:173px;
	float: left;
	margin-left:15px;
}
.haizhi-notice {
	height:200px;
}
.haizhi-notice2{
	height:188px;
}
.haizhi-links img{
	margin-left:35px;
}
.news-big-image img {
	height:61px;
	width:98%;
	margin-bottom:15px;
	border:5px solid #FFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.widget li span {
	float: right;
	margin-right:10px;
}
.content-list {
	min-height:200px;
}
#slideshow1 img {
width: 300px;
height: 200px;
}
/*.bx_wrap {margin-left: 10px; margin-top:10px} */
.bx_wrap ul img { border: 2px solid #ddd; } 
.bx_wrap ul li{text-align:center} 
.bx_wrap ul li a:hover{text-decoration:none; color:#f30} 
.bx_wrap a.prev {width:20px;height:24px;line-height:24px;outline-style:none;outline-width: 0; 
position:absolute; top:45px; left:-2px; text-indent:-999em; background: url(img/arr_left.gif)  
no-repeat;} 
.bx_wrap a.next {width:20px;height:24px;line-height:24px; left:626px;position: absolute; 
top:45px; text-indent:-999em; background:url(img/arr_right.gif) no-repeat;}
.bx_container { overflow: hidden; }