.pictures {
	width:120px;
	height:100px;
	margin:10px;
	float: left;
}
.content {
	float: left;
	width:138px;
	height:100px;
}
.content h4{
	color: #333;
	font-size:14px;
	font-weight:bold;
	text-align:left;
	padding-top:10px;
}
.content p {
	color: #aaa;
	font-size:12px;
	padding:5px;
}
.pic-list li {
	margin-bottom:15px;
	overflow: hidden;
}
.content-list span {
	float: right;
	margin-right:10px;
}