article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  /*max-width: 100%;*/
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  background-color: #ffffff;
}
a {
  color: #0088cc;
  text-decoration: none;
}
a:hover {
  color: #005580;
  text-decoration: underline;
}
.row {
  margin-left: -20px;
  *zoom: 1;
}
.row:before,
.row:after {
  display: table;
  content: "";
}
.row:after {
  clear: both;
}
[class*="span"] {
  float: left;
  margin-left: 20px;
}
.container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 940px;
}
.span12 {
  width: 940px;
}
.span11 {
  width: 860px;
}
.span10 {
  width: 780px;
}
.span9 {
  width: 700px;
}
.span8 {
  width: 620px;
}
.span7 {
  width: 540px;
}
.span6 {
  width: 460px;
}
.span5 {
  width: 380px;
}
.span4 {
  width: 300px;
}
.span3 {
  width: 220px;
}
.span2 {
  width: 140px;
}
.span1 {
  width: 60px;
}
.offset12 {
  margin-left: 980px;
}
.offset11 {
  margin-left: 900px;
}
.offset10 {
  margin-left: 820px;
}
.offset9 {
  margin-left: 740px;
}
.offset8 {
  margin-left: 660px;
}
.offset7 {
  margin-left: 580px;
}
.offset6 {
  margin-left: 500px;
}
.offset5 {
  margin-left: 420px;
}
.offset4 {
  margin-left: 340px;
}
.offset3 {
  margin-left: 260px;
}
.offset2 {
  margin-left: 180px;
}
.offset1 {
  margin-left: 100px;
}
.row-fluid {
  width: 100%;
  *zoom: 1;
}
.row-fluid:before,
.row-fluid:after {
  display: table;
  content: "";
}
.row-fluid:after {
  clear: both;
}
.row-fluid [class*="span"] {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 2.127659574%;
  *margin-left: 2.0744680846382977%;
}
.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
.row-fluid .span12 {
  width: 99.99999998999999%;
  *width: 99.94680850063828%;
}
.row-fluid .span11 {
  width: 91.489361693%;
  *width: 91.4361702036383%;
}
.row-fluid .span10 {
  width: 82.97872339599999%;
  *width: 82.92553190663828%;
}
.row-fluid .span9 {
  width: 74.468085099%;
  *width: 74.4148936096383%;
}
.row-fluid .span8 {
  width: 65.95744680199999%;
  *width: 65.90425531263828%;
}
.row-fluid .span7 {
  width: 57.446808505%;
  *width: 57.3936170156383%;
}
.row-fluid .span6 {
  width: 48.93617020799999%;
  *width: 48.88297871863829%;
}
.row-fluid .span5 {
  width: 40.425531911%;
  *width: 40.3723404216383%;
}
.row-fluid .span4 {
  width: 31.914893614%;
  *width: 31.8617021246383%;
}
.row-fluid .span3 {
  width: 23.404255317%;
  *width: 23.3510638276383%;
}
.row-fluid .span2 {
  width: 14.89361702%;
  *width: 14.8404255306383%;
}
.row-fluid .span1 {
  width: 6.382978723%;
  *width: 6.329787233638298%;
}
.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}
.container:before,
.container:after {
  display: table;
  content: "";
}
.container:after {
  clear: both;
}
.container-fluid {
  padding-right: 20px;
  padding-left: 20px;
  *zoom: 1;
}
.container-fluid:before,
.container-fluid:after {
  display: table;
  content: "";
}
.container-fluid:after {
  clear: both;
}
p {
  margin: 0 0 9px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
p small {
  font-size: 11px;
  color: #999999;
}
.lead {
  margin-bottom: 18px;
  font-size: 20px;
  font-weight: 200;
  line-height: 27px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  color: #999999;
}
h1 {
  font-size: 30px;
  line-height: 36px;
}
h1 small {
  font-size: 18px;
}
h2 {
  font-size: 24px;
  line-height: 36px;
}
h2 small {
  font-size: 18px;
}
h3 {
  font-size: 18px;
  line-height: 25px;
}
h3 small {
  font-size: 14px;
}
h4,
h5,
h6 {
  line-height: 18px;
}
h4 {
  font-size: 14px;
}
h4 small {
  font-size: 12px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 11px;
  color: #999999;
  text-transform: uppercase;
}
.page-header {
  padding-bottom: 17px;
  margin: 18px 0;
  border-bottom: 1px solid #eeeeee;
}
.page-header h1 {
  line-height: 1;
}
ul,
ol {
  padding: 0;
  margin: 0 0 9px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  line-height: 18px;
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}
dl {
  margin-bottom: 18px;
}
dt,
dd {
  line-height: 18px;
}
dt {
  font-weight: bold;
  line-height: 17px;
}
dd {
  margin-left: 9px;
}
.dl-horizontal dt {
  float: left;
  width: 120px;
  clear: left;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dl-horizontal dd {
  margin-left: 130px;
}
hr {
  margin: 18px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
.muted {
  color: #999999;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #ddd;
}
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 18px;
  border-left: 5px solid #eeeeee;
}
blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 22.5px;
}
blockquote small {
  display: block;
  line-height: 18px;
  color: #999999;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote.pull-right {
  float: right;
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
}
blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
address {
  display: block;
  margin-bottom: 18px;
  font-style: normal;
  line-height: 18px;
}
small {
  font-size: 100%;
}
cite {
  font-style: normal;
}
.nav {
  margin-left: 0;
  margin-bottom: 18px;
  list-style: none;
}
.nav > li > a {
  display: block;
}
.nav > li > a:hover {
  text-decoration: none;
  background-color: #eeeeee;
}
.nav > .pull-right {
  float: right;
}
.nav .nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
.nav li + .nav-header {
  margin-top: 9px;
}
.nav-list {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0;
}
.nav-list > li > a,
.nav-list .nav-header {
  margin-left: -15px;
  margin-right: -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.nav-list > li > a {
  padding: 3px 15px;
}
.nav-list > .active > a,
.nav-list > .active > a:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #0088cc;
}
.nav-list [class^="icon-"] {
  margin-right: 2px;
}
.nav-list .divider {
  *width: 100%;
  height: 1px;
  margin: 8px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}
.nav-tabs,
.nav-pills {
  *zoom: 1;
}
.nav-tabs:before,
.nav-pills:before,
.nav-tabs:after,
.nav-pills:after {
  display: table;
  content: "";
}
.nav-tabs:after,
.nav-pills:after {
  clear: both;
}
.nav-tabs > li,
.nav-pills > li {
  float: left;
}
.nav-tabs > li > a,
.nav-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}
.nav-tabs {
  border-bottom: 1px solid #ddd;
}
.nav-tabs > li {
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 18px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}
.nav-pills > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  color: #ffffff;
  background-color: #0088cc;
}
.nav-stacked > li {
  float: none;
}
.nav-stacked > li > a {
  margin-right: 0;
}
.nav-tabs.nav-stacked {
  border-bottom: 0;
}
.nav-tabs.nav-stacked > li > a {
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.nav-tabs.nav-stacked > li:first-child > a {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.nav-tabs.nav-stacked > li:last-child > a {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.nav-tabs.nav-stacked > li > a:hover {
  border-color: #ddd;
  z-index: 2;
}
.nav-pills.nav-stacked > li > a {
  margin-bottom: 3px;
}
.nav-pills.nav-stacked > li:last-child > a {
  margin-bottom: 1px;
}
.nav-tabs .dropdown-menu {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.nav-pills .dropdown-menu {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.nav-tabs .dropdown-toggle .caret,
.nav-pills .dropdown-toggle .caret {
  border-top-color: #0088cc;
  border-bottom-color: #0088cc;
  margin-top: 6px;
}
.nav-tabs .dropdown-toggle:hover .caret,
.nav-pills .dropdown-toggle:hover .caret {
  border-top-color: #005580;
  border-bottom-color: #005580;
}
.nav-tabs .active .dropdown-toggle .caret,
.nav-pills .active .dropdown-toggle .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}
.nav > .dropdown.active > a:hover {
  color: #000000;
  cursor: pointer;
}
.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > li.dropdown.open.active > a:hover {
  color: #ffffff;
  background-color: #999999;
  border-color: #999999;
}
.nav li.dropdown.open .caret,
.nav li.dropdown.open.active .caret,
.nav li.dropdown.open a:hover .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  opacity: 1;
  filter: alpha(opacity=100);
}
.tabs-stacked .open > a:hover {
  border-color: #999999;
}
.tabbable {
  *zoom: 1;
}
.tabbable:before,
.tabbable:after {
  display: table;
  content: "";
}
.tabbable:after {
  clear: both;
}
.tab-content {
  overflow: auto;
}
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}
.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}
.tab-content > .active,
.pill-content > .active {
  display: block;
}
.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}
.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}
.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.tabs-below > .nav-tabs > li > a:hover {
  border-bottom-color: transparent;
  border-top-color: #ddd;
}
.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover {
  border-color: transparent #ddd #ddd #ddd;
}
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}
.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}
.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}
.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.tabs-left > .nav-tabs > li > a:hover {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}
.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}
.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}
.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.tabs-right > .nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}
.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}
body {
  background: #ededed url(../img/pixel-pattern.png) repeat-x;
}
#header {
  height: 55px;
  background: url(../img/texture.jpg);
  padding-top: 25px;
  margin-bottom: 40px;
}
#header .container {
	position:relative;
}
#logo {
  color: #e8e8e8;
  font-family: Arial;
  font-size: 28px;
  line-height: 28px;
}
#logo span {
  font-weight: bold;
  color: #36a8c8;
}
#main-nav {
  position: absolute;
  top: 40px;
	left:0;
  width: 940px;
  background: #f0f8f9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
	z-index:1000;
  /*border: 1px solid #9DB1C7;*/
  /*#gradient .vertical(#F4FAFB,#d5ebf1);*/

  /*background: #F4FAFB;*/
  background:#4580CC;
}
#main-nav li a {
  margin: 0;
  padding: 10px 6px;
  font-size: 14px;
  /*color: #404750;*/
  color:white;
}
#main-nav li a:hover {
  background: none;
}
#main-nav li.active a {
  /*			background:#f0f8f9;*/

  background: none;
  /*color: #333;*/
  color:#27436A;
  font-weight: bold;
}
#slideshow {
  height: 260px;

  /*background: url(../img/featured-pattern.png);*/
}
.widget {
  padding: 5px 10px;
  margin-bottom: 15px;
  background: white;
  border: 1px solid #E7E7DD;
  *zoom: 1;
}
.widget:before,
.widget:after {
  display: table;
  content: "";
}
.widget:after {
  clear: both;
}
.widget h3 {
  font-weight: normal;
  color: #284169;
  overflow: hidden;
}
.widget ul {
  list-style: none;
  margin: 0;
}
.widget ul li {
  line-height: 22px;
}
.widget ul li a {
	white-space: nowrap;
  color: #555;
  font-size: 14px;
}
.widget .span4 {
  margin: 0;
  width: 288px;
  padding: 0 10px 0 0;
}
.widget .span2 {
  margin: 0;
}
.widget ul.images li {
  float: left;
  margin: 5px 10px 5px 0;
  text-align: center;
  background: #e8e8e8;
}
.widget ul.images li img {
  width: 132px;
  height: 75px;
}
.widget ul.images li cite a {
  font-size: 12px;
  color: #777;
}
.widget ul.nav-category {
  float: right;
}
.widget ul.nav-category li a {
  padding: 5px 2px;
  color: #aaa;
  font-size: 13px;
  border-left: 1px dotted #ccc;
}
.widget ul.nav-category li a.more {
  border: none;
  color: #A24825;
  font-size: 15px;
  margin-left: 20px;
}
.widget-notice {
  height:252px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.widget-notice h3 {
  color: #A24825;
  background: #f6f6f6;
  padding-left:25px;
  font-size: 18px;
  background: url(../img/titlebg01.jpg) left bottom no-repeat;
}
.widget-notice ul li {
  padding-left: 7px;
  background: url(../img/red_bull.gif) left center no-repeat;
}
.widget-notice ul li a {
  color: #2C506F;
}
.widget-theme h3 {
/*  display: inline;*/
}
.widget-side h3 {
  color: #2C506F;
  padding-left:25px;
  margin-bottom: 3px;
  background: url(../img/titlebg01.jpg) left bottom no-repeat;
}
#footer {
  padding: 10px 0;
  position: relative;
}
/*-------------------Begin with Bird---------------------------------*/
.right-list {
  overflow: hidden;
}
.right-list ul li {
  line-height:85px;
}
.right-list img {
  width:100px;
  height:60px;
  margin:5px;
  float: left;
}
.pic-detatil{
  height:60px;
  margin:5px;
}
.widget-side .right-list .pic-detatil h3{
  background-image: none;
  font-size:13px;
  padding-bottom:0;
  line-height:15px;
  padding-left:0;
}
.pic-detatil p{
  font-size:10px;
  line-height:14px;
  color:#888;
}
#widget1{
  height:550px;
  margin-bottom:8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.widget .widget3{
  padding:0 0 0 10px;
}
.widget2{
  height:262px;
}
.widget2 h3{
  background: url(../img/titlebg04.gif) left bottom no-repeat;
  padding-left:15px;
  margin-bottom:5px;
}
.pic-list img {
  width:120px;
  height:90px;
  margin:5px;
}
.pic-row{
  height:120px;
}
.slide-title {
  width:13px;
  height:90px;
  margin-top:8px;
  float: left;
}
.slide-title p {
  font-size:14px;
  color:#2C506F;
}
.science-pics{
  float: left;
  display: inline;
  margin-left:9px;
}
.images-more li {
  float: left;
  margin:5px;
}
.images-more li img{
  width:86px;
  height:86px;
  border:1px solid #CCC;
  padding:1px;
}
#footer {
  background-color:white;
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
  padding:0;
}
.top-pattern{
  height:70px;
  margin-top:-85px;
  background: url(../img/pattern-top.png) left bottom repeat-x;
}
#footer .width-container{
  background:url(../img/pattern-repeat.png) 0 0 repeat #484F59;
}
#footer .width-container .container {
  height: 110px;
}
.width {
  width: 980px;
  margin: auto;
  position: relative;
}
#footer h2 {
font-size: 14px;
color: white;
margin: 0;
text-shadow: 1px 1px 1px black;
font-family: Arial;
}
#footer .links {
	overflow:hidden;
	margin:0;
}
#footer .links li {
float: left;
padding: 0;
width: 50%;
text-align: left;
}
#footer .links li a ,#footer .links li p {
  color: #fff;
}
.links {
  list-style:none;
}
.flash-control img{
  height:220px;
  width:620px;
}
#header .search {
float: right;
-webkit-box-shadow: inset 1px 1px 1px #bbb;
-moz-box-shadow: inset 1px 1px 1px #bbb;
box-shadow: inset 1px 1px 1px #bbb;
background-color: white;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
border: 4px solid #0E2137;
width: 260px;
margin: 2px 2px 8px 2px;
}
#header .search .text {
outline: none;
width: 255px;
margin-bottom: 0;
padding: 4px;
font: italic 11pt/1.3em Arial;
border: 0;
background: 0;
color: #B7B7B7;
height: 13px;
background-color:#0E2137;
}
.search .search-button {
background-color:#0E2137;
margin-top: 1px;
margin-right: 5px;
background: url(../img/search.png) 0 0 no-repeat transparent;
width: 14px;
height: 14px;
padding: 0;
border: 0;
}
.search{
  float: right;
}
.widget .more-only {
  float: right;
}
.widget .more-only a {
  color: #A24825;
  font-size: 13px;
}
.round{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.little-titles {
  margin-bottom:5px;
  margin-left:3px;
	margin-right:4px;
}
.sub{
  position: absolute;
  left:0;
  top:37px;
  width:100px;
  z-index:1;
  margin-left:0;
  background-color:#F4FAFB;
  display: none;
}
.sub li {
  list-style:none;
}

#main-nav>li {
  position: relative;
}

/*#main-nav>li:hover .sub {
  display: block;
}*/
#main-nav>li:hover, .sub>li:hover {
  background-color:#E4EAEB;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /*border:1px solid #497487;*/
}
#main-nav li a:hover{
  text-decoration:none;
}

.artical h3 {
  font-size:20px;
  font-weight:bold;
  color:#404750;
  text-align:center;
  margin-top:10px;
  margin-bottom:8px;
}
.artical {
  background-color:#F8FAFD;
}
.artical {
  font-size:13px;
  color:#777;
  text-align:center;
}
.artical .content-detail,.artical .content-detail p {
  font-size:14px;
  line-height:22px;
  color:#444;
  padding:10px;
  text-align:left;
}

.artical .content-detail p {
	padding:0;
}

.artical-footer p {
  text-align:left;
}
.artical-footer p a {
  color: #203f5e;
}
.scoll-text {
  height:60px;
	background:url(../img/scroll-bg.jpg);
  margin:0;
  padding:0;
  margin-bottom:10px;
}
.scoll-text ul {
	margin:0;
}
.scoll-text li {
	font-size: 24px;
	color: #2C506F;
	display:block;
	float:left;
	height:60px;
	line-height:60px;
	margin-right:50px;
}

.scoll-text p {
  width:1500px;
  line-height:60px;
}
.scoll-text p  a {
  font-size:24px;
  color:white;
}
.one-pic img{
  width:288px;
  height:196px;
  margin:5px;
  float: left;
}
.widget .widget-content {
  margin-left:2px;
}

#slideshow1 img {
	width:300px;
	height:230px;
}

.theme-default #slideshow1 {
	margin-bottom:0;
}

#main .theme-default .nivo-controlNav {
	padding:5px 0 0 0;
}

.sub{
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  position: absolute;
  left:0;
  top:35px;
  width:100px;
  z-index:1;
  margin-left:0;
  /*background-color:#F4FAFB;*/
  background-color:#EEE;
  display: none;
}
.sub li {
  list-style:none;
	display:block;
  text-align:center;
  line-height:25px;
}
#main-nav .sub li a {
  color:#888;
}

#main-nav>li {
  position: relative;
}

/*#main-nav>li:hover .sub {
  display: block;
}*/
#main-nav>li:hover {
  background-color:#27436A;
}
#main-nav .sub li a:hover {
  color:#333;
}

.xuehui-left ul li a {
	padding-left:12px;
	background:url(../img/icon01.gif) 0 50% no-repeat;
}

a.xuehui-name {
	padding-left:12px;
	background:url(../img/icon02.gif) 0 50% no-repeat;
}

.widget ul.more-image li a {
	white-space:normal;
}

#main h2 {
color: #40ADCD;
padding-left: 0;
font-weight:normal;
margin-bottom:10px;
font-size:22px;
}

#fly-text {
	position:absolute;
	right:0;
	width: 300px;
	height:200px;
	top:50px;
	z-index:500;
/*	-moz-opacity: 0.5;
	filter: alpha(opacity=5);
	opacity: 0.5;*/
	padding: 10px 15px;
	color:black;
/*	background: black;*/
}

#fly-text p {
	font-size: 25px;
	line-height:50px;
	height:200px;
	color:#5cabcc;
	white-space:nowrap;
	background:none;
}

.content-list ul.yiiPager li a {
	background-image: none;
}
.one-pic .nivo-caption {
  background:white;
  color:#005580;
  padding:0;
  opacity: 1.0;
  -moz-opacity: 1.0;
  filter: alpha(opacity=10);
}
.one-pic .nivoSlider {
  height:204px;
  overflow: hidden;
}
.one-pic .nivoSlider img {
  width: 288px;
  height: 196px;
  margin: 0;
}
#widget1 .right-list li img {
  border:1px solid #CCC;
  padding:1px;
}