.xuehui-left h3{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color:#eee;
  margin-bottom:10px;
}
.xuehui-left ul {
	/*margin-left:40px;*/
}
.xuehui-left ul  li {
	width:99px;
	height:40px;
	float: left;
}
.widget ul li a {
	font-size:12px;
	color: #555;
}
.content-list ul {
	margin-top:15px;
	margin-bottom:15px;
}
.content-list img {
	margin: 3px;
}
.content-list span {
	float: right;
	margin-right:10px;
}
.widget .xuehui-name {
	color:#166680;
	margin-right:3px;
}
.list-foot {
	text-align:center;
}
.xuehui-left span a {
	width:100px;
	height:25px;

}
.artical,.intro {
	min-height:500px;
}
.intro h3 {
	background-color:#CCC;
	font-size:20px;
	text-align:center;
	margin-top:10px;
	margin-bottom:10px;
}
.intro-detail {
	line-height:22px;
}