.listcom li img {
	height:75px;
	width:100px;
	border:1px solid #CCC;
}
.listcom li {
	width:110px;
	float: left;
	margin:3px 8px;
}
.listcom ul {
	overflow: hidden;
}
.listcom li span {
	font-size:12px;
	color:#333;
	padding:2px;
}