.listcom li img {
	height:50px;
	width:75px;
	border:1px solid #CCC;
}
.listcom li {
	width:85px;
	float: left;
	margin:3px 5px;
}
.listcom ul {
	margin:10px 0;
}
.listcom ul {
	overflow: hidden;
}
.listcom li span {
	font-size:14px;
	color:#333;
	padding:2px;
}