html,body {
	background-color:#EEE;
}
#wrap {
	width:940px;
	margin:0 auto;
	overflow: hidden;
}
a {
	color:#5E5E5E;
	text-decoration:none;
}
a:hover,.active a{
	color:#212121;
	text-decoration:none;
}
.widget {
	margin-bottom:10px;
}
#left {
	width:250px;
	margin-right:10px;
	margin-top:10px;
	float: left;
}
.title-name {
	height:143px;
}
.title {
	background-image:url(../images/title.png);
	height:190px;
	margin-bottom:2px;
}
.title .date {
	color:white;
	font-size:20px;
	padding:12px 28px;
}
.menu ul {
	margin:0;
	padding:0;
}
.menu li {
	list-style:none;
}

.menu li a {
	line-height:45px;
	background-color:#E0DFE0;
	margin:2px 0;
	display: block;
	font-size:18px;
	padding:0 40px;
}

.menu .active a {
	font-size:20px;
	background-color:#CCC;
}
.menu li a:hover{
	background-color:#CCC;
}
#right {
	overflow: hidden;
	margin-top:10px;
}
.top {
	height:142px;
	border:1px solid #ccc;
	background:url(../images/top.png) left bottom;
}
.active-news {
	height:40px;
	background-color:#EFEFEF;
	overflow: hidden;
}
.kactive-news {
	background-color:#E0DFE0;
	height:36px;
	width:130px;
	margin-right:10px;
	float: left;
}
.kactive-news p {
	margin:0;
	color:#5E5C7C;
	font-size:20px;
	padding:5px 14px;
}
.news-scoll {
	overflow: hidden;
	width:490px;
	height:40px;
}
.news-scoll  p{
	line-height:40px;
	font-size:18px;
}
.top-news {
	height:200px;
}
.fill-width {
	width:430px;
	height:200px;
	float: left;
}
.top-news-content {
	overflow: hidden;
	padding:10px;
	height:178px;
	background:#fff;
	border:1px solid #ddd;
}
.top-news-content h3 {
	margin-bottom:10px;
}
.top-news-content h3 a {
	color:#555;
	font-size:20px;
	font-weight:normal;
	text-align:left;
}
.top-news-content p {
	color:#555;
	font-size:13px;
	line-height:16px;
}
.news1 {
	width:325px;
	height:200px;
	margin-right:15px;
	float: left;
}
.news1 ul,.name ul {
	margin-top:5px;
}
.news1 li {
	line-height:22px;
	padding-left:15px;
	background:url(../images/icon02.gif) 0 50% no-repeat;	
}
.news1 li a {
	font-size:14px;
	color: #333;
}
.news1 li a:hover {
	color:red;
	text-decoration:underline;
}
/*.news1 li a:visited {
	color:#7A1A1E;
	text-decoration:none;
}*/
.videos {
	height:180px;
}
.name {
	background-color:#E0DFE0;
	border-left:4px solid #C95752;
	height:37px;
}
#video-list li {
	width:127px;
	height:130px;
	margin:5px 5px 5px 0;
	list-style:none;
	float: left;
}

.name span {
	float: right;
	line-height:27px;
}
.name span a {
	font-size:14px;
	color:#7A1A1E;
}
.clearfix {
	float: none;
	clear: both;
}
.videos h3,.news1 h3 {
	margin:0;
	font-size:20px;
	color:#424242;
	padding:6px 10px;
	font-weight:normal;
}
#footer {
	text-align:center;
	color: #666;
	font-size:13px;
	margin-top:10px;
	margin-bottom:10px;
	border-top:1px dashed #bbb;
	padding-top:15px;
}
.round{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.content {
	min-height:600px;
}
.artical h3 {
  font-size:20px;
  font-weight:bold;
  color:#404750;
  text-align:center;
  padding-top:10px;
  margin-bottom:8px;
}
.artical {
  background-color:#F8FAFD;
}
.artical {
  font-size:13px;
  color:#777;
  text-align:center;
}
.artical .content-detail,.artical .content-detail p {
  font-size:14px;
  line-height:22px;
  color:#444;
  padding:10px;
  text-align:left;
}

.artical .content-detail p {
	padding:0;
}

.artical-footer p {
  text-align:left;
}
.artical-footer p a {
  color: #203f5e;
}
.videos .video img {
	width:150px;
	height:120px;
	border:1px solid #CCC;
}
.videos .video p {
	font-size:13px;
	color:#333;
	text-align:center;
}
.videos .video li {
	width:160px;
	height:130px;
	padding:4px;
	float: left;
	margin-top:5px;
}
#slideshow_index img {
	width:430px;
	height:200px;
}
#slideshow_top img {
	width:680px;
	height:142px;
}
#video-list li img {
	width:127px;
	height:96px;
}

#video-list li span {
	line-height:14px;
	float:none;
	font-size:13px;
	text-align:center;
}
#video-list {
	padding:10px;
}